<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-12">
        <button class="btn btn-oteos btn-sm" (click)="onClickComeBackBtn()"><i class="fa fa-arrow-left"></i></button>
        <button class="ml-1 btn btn-oteos btn-sm" (click)="onClickDownloadBtn()" *ngIf="pdfFileViewer.downloadable"><i class="fa fa-download"></i></button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div *ngIf="pdfSrc">
          <pdf-viewer
            [zoom]="pdfZoom" 
            [src]="pdfSrc" 
            [(page)]="pdfFileViewer.startPage"
            [show-all]="true"
            [stick-to-page]="true"
            [render-text]="true"
            [original-size]="false"
            (after-load-complete)="callBackFn($event)">
          </pdf-viewer>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8 text-center">
        <button class="btn-left btn btn-oteos btn-sm" (click)="zoomIn()"><i class="fa fa-plus"></i></button>
        <button class="btn btn-oteos btn-sm" (click)="zoomOut()"><i class="fa fa-minus"></i></button>
          <button class="btn-right btn btn-oteos btn-sm" (click)="resetZoom()"><i class="fa fa-refresh"></i></button>
      </div>
      <div class="col-2">
        <div class="text-right title-container" *ngIf="pdfFileViewer.showTotalPages">
          <span class="title-container__title">{{translateService.getTranslate('label.file-viewer.pages')}}: {{totalPages}}</span>
        </div>
      </div>
    </div>
    
  </div>
</div>