<!-- SEARCH FILTER -->
<div class="row" *ngIf="showMode && (showMode == 'table' || showMode == 'block-list')">
  <div class="col-12">
    <oteos-accordion 
    [title]="translateService.getTranslate('label.general.filter')" 
    [open]="false" > 

    <div content-accordion>
      <div class="row">
        <div class="col-3">
          <oteos-input
            [(ngModel)]="filter.code"
            [ngModelOptions]="{standalone: true}"
            [label]="translateService.getTranslate('label.products.cols.code')"
            [showLabel]="true"
            [require]="false" >
          </oteos-input>
        </div>
        <div class="col-3">
          <oteos-input
            [(ngModel)]="filter.name"
            [ngModelOptions]="{standalone: true}"
            [label]="translateService.getTranslate('label.products.cols.name')"
            [showLabel]="true"
            [require]="false" >
          </oteos-input>
        </div>
        <div class="col-3">
          <span class="span-title">{{translateService.getTranslate('label.products.cols.category')}}</span>
          <select class="form-control" style="margin-top: 5px;" [(ngModel)]="filter.category">
            <option [value]="undefined">Todos</option>
            <option *ngFor="let c of selectCategories" [ngValue]="c.value.name">{{c.value.name}}</option>
          </select>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 text-right">
          <button class="btn btn-oteos mr-1" (click)="clearFilter()">
            <i class="fa fa-close"></i>
          </button>
  
          <button class="btn btn-oteos" (click)="search()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    </oteos-accordion>
  </div>
</div>

<!-- Table and Block List View -->
<div class="row" *ngIf="showMode && (showMode == 'table' || showMode == 'block-list')">
  <div class="col-12">

    <div class="row">
      <div class="col-10 text-left">
        <button class="btn btn-oteos" (click)="changeTableMode()">
          <i class="fa fa-table"></i>
        </button>
        <button class="ml-1 btn btn-oteos" (click)="changeBlockListMode()">
          <i class="fa fa-th-large"></i>
        </button>
      </div>
      <div class="col-2 text-right">
        <button class="btn btn-oteos" (click)="openForm()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="row mt-2" *ngIf="showMode == 'block-list'">
      <div class="col-12">
        <oteos-block-list
          [blockItems]="blockItems"
          [labelTotalResults]="translateService.getTranslate('label.pagination.total.elements')"
          [labelNoResults]="translateService.getTranslate('label.pagination.no.elements')"
          [showTotalItems]="true"
          [showHeader]="false"
          [showInfoAdditional]="false"
          [showActions]="true"
          [showBorder]="true"
          [canSelectItems]="false"
          [pagination]="totalItemsPage"
          [previousLabel]="translateService.getTranslate('label.pagination.previous')"
          [nextLabel]="translateService.getTranslate('label.pagination.next')"
          (itemSelected)="selectItem($event)"
          (actionSelected)="getAction($event)" >

          <ng-template #templateHeader let-item="item">

          </ng-template>

          <ng-template #templateInfoAdditional let-item="item">

          </ng-template>

          <ng-template #templateData let-item="item">
            <div class="row">
              <div class="col-2">
                <oteos-block-list-data-item
                  [label]="translateService.getTranslate('label.products.cols.code')"
                  [value]="item.code" >
                </oteos-block-list-data-item>
              </div> 
              <div class="col-4">
                <oteos-block-list-data-item
                  [label]="translateService.getTranslate('label.products.cols.name')"
                  [value]="item.name" >
                </oteos-block-list-data-item>
              </div> 
              <div class="col-2">
                <oteos-block-list-data-item
                  [label]="translateService.getTranslate('label.products.cols.category')"
                  [value]="item.category.name" >
                </oteos-block-list-data-item>
              </div> 
              <div class="col-1">
                <oteos-block-list-data-item
                  [label]="translateService.getTranslate('label.products.cols.price')"
                  [value]="item.price" >
                </oteos-block-list-data-item>
              </div> 
              <div class="col-1">
                <oteos-block-list-data-item
                  [label]="translateService.getTranslate('label.products.cols.tax')"
                  [value]="item.tax" >
                </oteos-block-list-data-item>
              </div> 
              <div class="col-1">
                <oteos-block-list-data-item
                  [label]="translateService.getTranslate('label.products.cols.publicSellPrice')"
                  [value]="item.publicSellPrice" >
                </oteos-block-list-data-item>
              </div> 
              <div class="col-1">
                <oteos-block-list-data-item
                  [label]="translateService.getTranslate('label.products.cols.stock')"
                  [value]="item.stock" >
                </oteos-block-list-data-item>
              </div> 
            </div>
          </ng-template>
        </oteos-block-list>
      </div>
    </div>

    <div class="row mt-3" *ngIf="showMode == 'table'">
      <div class="col-12">
        <oteos-table
          [cols]="cols"
          [tableItems]="tableItems"
          [labelTotalResults]="translateService.getTranslate('label.pagination.total.elements')"
          [labelNoResults]="translateService.getTranslate('label.pagination.no.elements')"
          [showTotalItems]="true"
          [showTableIndex]="true"
          [canSelectItems]="false"
          [pagination]="totalItemsPage"
          [previousLabel]="translateService.getTranslate('label.pagination.previous')"
          [nextLabel]="translateService.getTranslate('label.pagination.next')"
          (itemSelected)="selectItem($event)"
          (actionSelected)="getAction($event)"
          (closeOptions)="onCloseOptions($event)">   

          <ng-template #templateRow let-item="item" let-cols="cols">
            <td *ngFor="let col of cols" [ngSwitch]="col.label">     
              <span *ngSwitchCase="translateService.getTranslate('label.products.cols.category')">
                {{item["category"].name}}
              </span>
              <span *ngSwitchDefault>
                {{item[col.property]}}
              </span>
            </td>
          </ng-template>
        </oteos-table>
      </div>
    </div>

  </div>
</div>

<!-- Create and Update Form View -->
<div class="row" *ngIf="showMode && showMode == 'form'">
  <div class="col-12">

    <div class="row">
      <div class="col-6 text-left">
        
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-oteos" (click)="closeForm()">
          <i class="fa fa-arrow-left"></i>
        </button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <oteos-card 
         [showTitle]="true" >
          <p card-title>{{
              manageMode == 'new' ? 
              translateService.getTranslate('label.products.detail.new') :
              translateService.getTranslate('label.products.detail.update') + ': ' + productSelected.name }}
          </p>
          <div card-content class="row">
            <div class="col-12">
              <form>
                <div class="row form-group">
                  <div class="col-4">
                    <oteos-input
                      [(ngModel)]="newProduct.code"
                      [ngModelOptions]="{standalone: true}"
                      [label]="translateService.getTranslate('label.products.form.code')"
                      [showLabel]="true"
                      [readOnly]="(manageMode == 'update')"
                      [require]="true" >
                    </oteos-input>
                  </div>
                  <div class="col-4">
                    <oteos-input
                      [(ngModel)]="newProduct.name"
                      [ngModelOptions]="{standalone: true}"
                      [label]="translateService.getTranslate('label.products.form.name')"
                      [showLabel]="true"
                      [require]="true" >
                    </oteos-input>
                  </div>
                  <div class="col-4">
                    <oteos-dropdown 
                      [label]="translateService.getTranslate('label.products.form.category')"
                      [showLabel]="true"
                      [require]="true"
                      [options]="selectCategories"
                      [(ngModel)]="newProduct.category"
                      [ngModelOptions]="{standalone: true}" >
                    </oteos-dropdown>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-12">
                    <oteos-input
                      [(ngModel)]="newProduct.description"
                      [ngModelOptions]="{standalone: true}"
                      [label]="translateService.getTranslate('label.products.form.description')"
                      [showLabel]="true"
                      [require]="true" >
                    </oteos-input>
                  </div>
                </div>

                <div class="row form-group">      
                  <div class="col-3">
                    <oteos-input
                      [(ngModel)]="newProduct.price"
                      [type]="constantsService.OteosInputTypeConstants.NUMBER"
                      [ngModelOptions]="{standalone: true}"
                      [label]="translateService.getTranslate('label.products.form.price')"
                      [showLabel]="true"
                      [require]="true" 
                      (inputChange)="onPriceChange($event)">
                    </oteos-input>
                  </div>
                  <div class="col-3">
                    <oteos-input
                      [(ngModel)]="newProduct.tax"
                      [type]="'number'"
                      [ngModelOptions]="{standalone: true}"
                      [label]="translateService.getTranslate('label.products.form.tax')"
                      [showLabel]="true"
                      [require]="true" 
                      (inputChange)="onPriceChange($event)">
                    </oteos-input>
                  </div>
                  <div class="col-3">
                    <oteos-input
                      [(ngModel)]="newProduct.publicSellPrice"
                      [type]="'number'"
                      [readOnly]="true"
                      [ngModelOptions]="{standalone: true}"
                      [label]="translateService.getTranslate('label.products.form.publicSellPrice')"
                      [showLabel]="true"
                      [require]="true" >
                    </oteos-input>
                  </div>
                  <div class="col-3">
                    <oteos-input
                      [(ngModel)]="newProduct.stock"
                      [type]="'number'"
                      [ngModelOptions]="{standalone: true}"
                      [label]="translateService.getTranslate('label.products.form.stock')"
                      [showLabel]="true"
                      [require]="true" >
                    </oteos-input>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-8" *ngIf="manageMode != 'update'">
                    <ng-container>
                      <oteos-file-uploader
                        [label]="translateService.getTranslate('label.products.form.image')"
                        [showLabel]="true"
                        [required]="true"
                        [showBorder]="false"
                        [labelUploadBtn]="translateService.getTranslate('label.products.file-uploader.upload.btn')"
                        [showUploadBtn]="true"
                        [labelCleanBtn]="translateService.getTranslate('label.products.file-uploader.clear.btn')"
                        [showCleanBtn]="true"
                        [base64]="false"
                        (uploadBtn)="uploadBtn($event)"
                        (cleanBtn)="cleanBtn($event)">
                      </oteos-file-uploader>
                    </ng-container>
                  </div>
                  <div class="col-4">
                    <img [src]="selectedImage" height="200" *ngIf="manageMode != 'update' && selectedImage">
                    <img [src]="newProduct.imageUrl" height="200" *ngIf="manageMode == 'update'">
                  </div>
                </div>
  
                <div class="row form-group">
                  <div class="col-12">
                    <button class="btn btn-block btn-oteos" (click)="onClickFormButon()">{{
                      manageMode == 'new' ? 
                      translateService.getTranslate('label.form.btn.new') : 
                      translateService.getTranslate('label.form.btn.update') }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </oteos-card>
      </div>
    </div>

  </div>
</div>

<!-- Confirm Modal Delete -->
<div class="row">
  <div class="col-12">

    <oteos-modal 
      [id]="'delete-product'"
      [type]="constantsService.OteosModalTypeConstants.CONFIRM" 
      [labelConfirm]="translateService.getTranslate('label.modal.btn.confirm')"
      [labelClose]="translateService.getTranslate('label.modal.btn.cancel')"
      (close)="onCloseModal($event)"
      (accept)="onConfirmModal($event)" >
      <div modal-title>{{translateService.getTranslate('label.products.modal.delete.title')}}</div>
      <div modal-content>
        <div class="row">
          <div class="col-12">
            <span>{{translateService.getTranslate('label.products.modal.delete.content')}}: {{productSelected.name}}?</span>
          </div>
        </div>
      </div>
    </oteos-modal>

  </div>
</div>