
<div class="row">
  <div class="col-12">

    <div class="row">
      <div class="col-6 text-left">
        
      </div>
      <div class="col-6 text-right">
        <button class="btn btn-oteos" (click)="onClickDefaultsOptions()">
          <i class="fa fa-gear"></i>
        </button>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-12">
        <oteos-card
            [showTitle]="true" >
            <p card-title>{{translateService.getTranslate('label.options.visual.options.title')}}</p>
            <div card-content>
              <div class="row">
                <div class="col-12">

                  <div class="row">
                    <div class="col-12">
                      <span class="span-title">{{translateService.getTranslate('label.options.visual.options.label.theme')}}</span>
                      <div class="m-dropdown">
                        <oteos-dropdown 
                          [options]="themes"
                          [(ngModel)]="themeSelected"
                          (selectItem)="selectTheme($event)" >
                        </oteos-dropdown>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </oteos-card>
      </div>
    </div>

  </div>
</div>
