<div class="container-fluid vh-100" style="overflow-y: auto; overflow-x: hidden;" [ngClass]="'theme-blue'" oteosResolution >

  <div class="row theme-header theme-header--showCacheTitle">
    <div class="col-12 p-0">
      <div class="row">
        <div class="col-12 text-right">
          <a class="theme-header__logo-text" href="#">{{'Armeria Tfg Lorenzo'}}</a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center theme-header__cache-container">
          <span class="theme-header__cache-container--cache-title">
            {{(cacheService.getElement('title') ? cacheService.getElement('title') : '&nbsp;')}}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="theme-header__menu" 
            *ngFor="let item of cacheService.getElement('menuItems'); let i = index" (mouseleave)="onLeftMenu()">
            <li>
              <div class="btn theme-header__menu--menu-item" 
               [ngClass]="{
                'theme-header__menu--menu-item--sub-item-hover': activeHover && subMenuItems.length > 0 && selectedSubTitle == item.text,
                'theme-header__menu--menu-item--first-only1': i == 0 && cacheService.getElement('menuItems').length == 1 && subMenuItems.length == 0,
                'theme-header__menu--menu-item--first-only1-hover': i == 0 && subMenuItems.length > 0 && selectedSubTitle == item.text && cacheService.getElement('menuItems').length == 1,
                'theme-header__menu--menu-item--first': i == 0 && cacheService.getElement('menuItems').length > 1,
                'theme-header__menu--menu-item--first-hover': i == 0 && subMenuItems.length > 0 && selectedSubTitle == item.text && cacheService.getElement('menuItems').length > 1,
                'theme-header__menu--menu-item--mid': i > 0 && i < (cacheService.getElement('menuItems').length - 1),
                'theme-header__menu--menu-item--last': i == (cacheService.getElement('menuItems').length - 1) && cacheService.getElement('menuItems').length > 1,
                'theme-header__menu--menu-item--last-hover': i == (cacheService.getElement('menuItems').length - 1) && subMenuItems.length > 0 && selectedSubTitle == item.text
               }"
               (click)="!item.children && onMenuItemClick(item)" (mouseenter)="onMenuItemHover(item)" >
                <span>{{translateService.getTranslate(item.text)}}</span>
                <i *ngIf="item.children" class="fa fa-caret-down" style="padding-left: 7.5px;"></i>
                
                <div class="theme-header__sub-menu"
                  *ngIf="subMenuItems.length > 0 && selectedSubTitle == item.text" 
                  oteosClickOutside [avoidFirstTime]="false" (clickOutSide)="onLeftMenu()" >
                  <ng-container *ngFor="let subItem of subMenuItems; let i = index" >
                    <div class="btn theme-header__sub-menu--sub-menu-item"
                    [ngClass]="{
                      'theme-header__sub-menu--sub-menu-item--last': i == subMenuItems.length - 1
                    }"
                    (click)="onMenuItemClick(subItem)" >
                      <span>{{translateService.getTranslate(subItem.text)}}</span>
                    </div>
                  </ng-container>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row theme-content">
    <div class="col-12 p-1">
      <div class="row">
        <div class="col-12">
          <div class="p-1">
            <router-outlet content></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<oteos-toast [orientation]="constantsService.OteosToastConstants.ORIENTATION_TOP_RIGHT" [block]="false"></oteos-toast>

