/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
}

html body {
    /* overflow: auto; */
    overflow-x: hidden;
}

.m-dropdown {
    margin-top: 5px;
}

.span-title {
    font-size: 18px;
    font-family: 'oteos regular';
}